p {
  font-family:courier,arial,helvetica;
}

h1 {
  font-family:courier,arial,helvetica;
}
.container {
  display: flex;
}

.item {
  margin: 20px;
  padding: 10px;
  flex-grow: 1;
  border-style: solid;
  border-width: 0px 0px 0px 15px;
  border-color: navy;
  background-color: #F4F7F8;
}

button {
  background-color: #2080df;
  border: 1px solid #004080;
  border-bottom: 1px solid #001a33;
  border-radius: 3px;
  color: #fff;
  font: bold 16px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #212191;
  width: 250px; 
}